.app {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Full viewport height */
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

.navbar.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.logo img {
  height: 50px;
  margin-right: 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.navbar a:hover,
.navbar a:focus {
  background-color: #575757;
  border-radius: 5px;
}

.content {
  flex: 1;
  /* Takes up the available space */
  margin-top: 80px;
  /* Adjusted if you have a fixed navbar */
  padding-bottom: 50px;
  /* Space for the footer */
}

.home {
  position: relative;
}

.home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
}

/* Additional styles for responsiveness and form elements */
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar li {
    display: block;
    margin: 5px 0;
  }

  .home-content,
  .hire-professional {
    padding: 10px;
    font-size: smaller;
  }
}

/* Form styles */
input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='submit'] {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #45a049;
}

/* Footer styles */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: sticky;
  bottom: 0;
  width: 100%;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ff0000;
}